---
import { mapEntries } from "../../lib/collections";
import { combineClasses } from "../../lib/cssClasses";
import type { Sizes } from "../../lib/tailwind";

interface Props {
    columns?: Partial<Record<Sizes, number>>;
    gap?: number;
    extraClass?: string;
}

const { columns = { md: 2, lg: 3 }, gap, extraClass = "" } = Astro.props;
const baseClass = `grid`;
const columnsClasses = columns
    ? mapEntries(columns, (size, cols) => `${size}:grid-cols-${cols}`)
    : [];
const columnsClass = combineClasses(...columnsClasses);
const gapClass = gap ? `gap-${gap}` : null;
const finalClass = combineClasses(
    baseClass,
    gapClass,
    columnsClass,
    extraClass,
);
---

<div class={finalClass}>
    <slot />
</div>
