@import "tailwindcss";

@plugin '@tailwindcss/typography';

@layer base {
    :root {
        --surface-transparent-700: #FFFFFF44;
        --surface-transparent-300: #00000044;
    }

    html {
        font-size: 24px;
        font-family: "Zain",
            serif;
        font-weight: 400;
        font-style: normal;
    }

    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    main {
        flex-grow: 1;
        width: 100%;
    }

    /* region Fonts */
    .rubik-storm-regular {
        font-family: "Rubik Storm", serif;
        font-weight: 400;
        font-style: normal;
    }

    .zain-extralight {
        font-family: "Zain", serif;
        font-weight: 200;
        font-style: normal;
    }

    .zain-light {
        font-family: "Zain", serif;
        font-weight: 300;
        font-style: normal;
    }

    .zain-regular {
        font-family: "Zain", serif;
        font-weight: 400;
        font-style: normal;
    }

    .zain-bold {
        font-family: "Zain", serif;
        font-weight: 700;
        font-style: normal;
    }

    .zain-extrabold {
        font-family: "Zain", serif;
        font-weight: 800;
        font-style: normal;
    }

    .zain-black {
        font-family: "Zain", serif;
        font-weight: 900;
        font-style: normal;
    }

    .zain-light-italic {
        font-family: "Zain", serif;
        font-weight: 300;
        font-style: italic;
    }

    .zain-regular-italic {
        font-family: "Zain", serif;
        font-weight: 400;
        font-style: italic;
    }

    .honk-font {
        font-family: "Honk", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
            "MORF" 15,
            "SHLN" 50;
    }

    .oi-regular {
        font-family: "Oi", serif;
        font-weight: 400;
        font-style: normal;
    }

    .rubik-moonrocks-regular {
        font-family: "Rubik Moonrocks", serif;
        font-weight: 400;
        font-style: normal;
    }

    /* endregion Fonts */

    h4 {
        /* TODO understand how the typography plugin works */
        font-weight: 700;
        /* Bold */
    }
}


.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}