---
import AboutUs from "../components/AboutUs.astro";
import Events from "../components/Events.astro";
import Contact from "../components/Contact.astro";
import MembersList from "../components/MembersList.astro";
import NewsList from "../components/NewsList.astro";
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
import Section from "../components/Section.astro";
import Button from "../components/Button.astro";

import { Content as AboutContent } from "./about.md";
import { Content as ContactContent } from "./contact.md";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!--
  Welcome to the source code for the Syzygy Artist Co-Op website!

  This is the "entry point" for the website, the first file that the browser will load when a user visits the site.

  The text inside the "\<!--" and "--\>" (such as this!) are a comments, which are ignored by the web browser.
  They're just for humans to read and help explain what's going on in the code.

  The text inside of the arrow brackets "<" and ">" are HTML tags. These tags are instructions to the browser.
  For an overview of HTML, see https://developer.mozilla.org/en-US/docs/Web/HTML.
  For more information on particular tags, see https://developer.mozilla.org/en-US/docs/Web/HTML/Element.
-->
<Layout>
  <Section id="syzygy">
    <h1
      class="oi-regular text-center text-red-700 text-3xl sm:text-3xl md:text-4xl lg:text-5xl 2xl:text-6xl"
    >
      Syzygy SF
    </h1>
  </Section>
  <Section id="supporters">
    <Prose>
      <h2>We need your support</h2>
      <p>
        You can help us continue to run events and provide resources to the
        local arts community of San Francisco. Syzygy is a non-profit
        organization powered entirely by the support of people like you!
      </p>
      <div class="flex flex-row flex-wrap align-middle justify-center">
        <Button
          link="https://checkout.square.site/merchant/ML1VKVYXB3VR6/checkout/HEH6NHLQLII5CWSTXWYK3GCU"
          icon="heart"
          iconPack="solid"
        >
          Donate now
        </Button>
        <Button link="/join" style="secondary">or become a member</Button>
      </div>
    </Prose>
  </Section>
  <Section id="about">
    <Prose>
      <AboutContent />
    </Prose>
  </Section>
  <Section id="calendar">
    <Prose>
      <h2>Calendar</h2>
      <div class="responsive-iframe-container big-container">
        <iframe
          src="https://calendar.google.com/calendar/embed?src=ab5594c927f49b0fdbac6df5105baab13fa8c85a557455199d4ffe8a1e3d2727%40group.calendar.google.com&ctz=America%2FLos_Angeles"
          style="border: 0"
          width="800"
          height="600"
          frameborder="0"
          scrolling="no"></iframe>
      </div>
      <div class="responsive-iframe-container small-container">
        <iframe
          src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FLos_Angeles&showPrint=0&mode=AGENDA&title=Syzygy&src=YWI1NTk0YzkyN2Y0OWIwZmRiYWM2ZGY1MTA1YmFhYjEzZmE4Yzg1YTU1NzQ1NTE5OWQ0ZmZlOGExZTNkMjcyN0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23d81b60"
          style="border:solid 1px #777"
          width="800"
          height="600"
          frameborder="0"
          scrolling="no"></iframe>
      </div>
    </Prose>
  </Section>
  <Section id="events">
    <Events />
  </Section>
  <Section id="news">
    <!-- A section for news about Syzygy, either from the co-op itself or external news organizations.  -->
    <Prose>
      <h2>News!</h2>
    </Prose>
    <NewsList />
  </Section>
  <Section id="contact">
    <Prose>
      <ContactContent />
    </Prose>
  </Section>
  <Section id="members">
    <Prose>
      <h2>Members</h2>
    </Prose>
    <MembersList />
  </Section>
</Layout>
