---
import { combineClasses } from "../lib/cssClasses";
import { cardClassName } from "../utils";

type CardStyle = "default" | "ghost";

interface Props {
    linkURL?: string;
    cardStyle?: CardStyle;
}

const { linkURL, cardStyle = "default" } = Astro.props;
const baseClass = "border";
let styleClass = "";
switch (cardStyle) {
    case "ghost":
        styleClass =
            "border-gray-300 border-2 border-dashed bg-grey-50 hover:bg-white";
        break;
    default:
        styleClass = "border-gray-200 bg-gray-50";
        break;
}
const combinedStyle = combineClasses(baseClass, styleClass);
---

{
    linkURL ? (
        <a class={combinedStyle} href={linkURL} target="blank">
            <slot name="header" />
            <div class="p-4">
                <slot />
            </div>
            <slot name="footer" />
        </a>
    ) : (
        <div class={combinedStyle}>
            <slot name="header" />
            <div class="p-4">
                <slot />
            </div>
            <slot name="footer" />
        </div>
    )
}
