---
import { Image } from "astro:assets";
import Card from "./Card.astro";
import Prose from "./Prose.astro";
import { render, type CollectionEntry } from "astro:content";

interface Props {
    member: CollectionEntry<"members">;
}

const { event } = Astro.props;
const { Content } = await render(event); // Renders the content of the event entry
---

<Card>
    <Image
        src={event.data.image}
        alt={event.data.imageAlt}
        class="w-full"
        slot="header"
    />
    <Prose>
        <h4>{event.data.title}</h4>
        <i>{event.data.time}</i>
        <Content />
    </Prose>
</Card>

