<nav class="w-full py-2 bg-red-700 text-gray-200 font-bold">
    <ul class="flex flex-row flex-wrap justify-evenly">
        <li class="px-1"><a href="/#supporters">Supporters</a></li>
        <li class="px-1"><a href="/#about">About</a></li>
        <li class="px-1"><a href="/#events">Events</a></li>
        <li class="px-1"><a href="/#news">News</a></li>
        <li class="px-1"><a href="/#contact">Contact</a></li>
        <li class="px-1"><a href="/#members">Members</a></li>
        <li class="px-1"><a href="/links">Links</a></li>
    </ul>
</nav>
