---
import { Image } from "astro:assets";
import Card from "./Card.astro";
import Prose from "./Prose.astro";

interface Props {
    member: CollectionEntry<"members">;
}

const { member } = Astro.props;
const { pronouns, name, photo } = member.data;
---

<Card>
    <Image
        src={photo}
        alt={name}
        class="w-full aspect-square object-cover object-center"
        slot="header"
    />
    <Prose>
        <h3><a href={`/members/${member.id}`}>{name}</a></h3>
    </Prose>
</Card>
