---
import MemberCard from "./MemberCard.astro";
import Section from "./Section.astro";
import Prose from "./Prose.astro";
import { getCollection } from "astro:content";

const members = await getCollection("members");

import { rowClassName } from "../utils";
---

<Section fullWidth>
    <Section id="members" noSpace>
        <Prose>
            <h2>Members</h2>
        </Prose>
    </Section>
    <Section size="large" noSpace>
        <div class={rowClassName}>
            {members.map((member) => <MemberCard member={member} />)}
        </div>
    </Section>
    <Section noSpace>
        <Prose>
            <p>&hellip; <a href="/join">and you?</a></p>
        </Prose>
    </Section>
</Section>
