---
import MemberCard from "./MemberCard.astro";
import { getCollection } from "astro:content";
import Card from "./Card.astro";
import { Image } from "astro:assets";
import andYouImage from "../../content/members/_and_you.png";

const members = await getCollection("members");
---

<div class="w-full grid md:grid-cols-4 lg:grid-cols-5 gap-4 content-center">
    {members.map((member) => <MemberCard member={member} />)}
    <Card linkURL="/join" cardStyle="ghost">
        <Image src={andYouImage} alt="A drawing of a goblin" />
        <p>and you?</p>
    </Card>
</div>
