---
import { rowClassName } from "../utils";
import NewsCard from "./NewsCard.astro";
import { getCollection } from "astro:content";
import Section from "./Section.astro";

const newsCollection = await getCollection("news");
const news = newsCollection.map((item) => item.data);
---

<div class={rowClassName}>
    {
        news.map((item) => (
            <NewsCard
                imageURL={item["Image URL"]}
                imageDescription={item["Image Description"]}
                name={item.Name}
                date={item.Date}
                description={item.Description}
                linkURL={item["Link URL"]}
            />
        ))
    }
</div>
