---
import NewsCard from "./NewsCard.astro";
import { getCollection } from "astro:content";
import Grid from "./containers/Grid.astro";

const newsCollection = await getCollection("news");
const news = newsCollection.map((item) => item.data);
---

<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-2">
    {
        news.map((item) => (
            <NewsCard
                imageURL={item["Image URL"]}
                imageDescription={item["Image Description"]}
                name={item.Name}
                date={item.Date}
                description={item.Description}
                linkURL={item["Link URL"]}
            />
        ))
    }
</div>
