---
import { combineClasses } from "../lib/cssClasses";

interface Props {
    extraClass?: string;
}

const { extraClass } = Astro.props;
const baseClass = "prose !max-w-none prose-headings:mt-0";
const finalClass = combineClasses(baseClass, extraClass);
---

<div class={finalClass}>
    <slot />
</div>
