---
interface Props {
    id?: string;
    background?: string;
    size?: "large";
    fullWidth?: boolean;
    noSpace?: boolean;
}

const { size, background, id, noSpace, fullWidth } = Astro.props;

let baseClass = noSpace ? "" : "my-8 ";

const containerClass = fullWidth
    ? "w-full"
    : size === "large"
      ? "mx-4 md:mx-[1rem] lg:mx-[2rem] xl:mx-[3rem] 2xl:mx-[4rem]"
      : "mx-4 md:mx-[2rem] lg:mx-[4rem] xl:mx-[6rem] 2xl:mx-[8rem]";
const backgroundClass = background ? `bg-${background} bg-repeat` : "";
---

<div class={backgroundClass} id={id}>
    <div class={baseClass + containerClass}>
        <slot />
    </div>
</div>
