---
import { combineClasses } from "../lib/cssClasses";

interface Props {
    id?: string;
    backgroundClass?: string;
    extraClass?: string;
}

const { backgroundClass, id, extraClass } = Astro.props;

let baseClass = "py-8";

const finalBackgroundClass = backgroundClass
    ? backgroundClass
    : "bg-blue-50 bg-repeat";
const containerClass =
    "mx-4 md:mx-[2rem] lg:mx-[4rem] xl:mx-[6rem] 2xl:mx-[8rem]";
const finalContainerClass = combineClasses(
    baseClass,
    containerClass,
    extraClass,
);
---

<div class={finalBackgroundClass} id={id}>
    <div class={finalContainerClass}>
        <slot />
    </div>
</div>
