---
import "../styles/global.css";
const { title } = Astro.props;
import Prose from "../components/Prose.astro";
import Section from "../components/Section.astro";
import Layout from "./Layout.astro";
---

<Layout title={title}>
  <Section>
    <Prose>
      <slot />
    </Prose>
  </Section>
</Layout>
